# Ignore all files in the artifacts directory   
*/artifacts

# Ignore all files in the node_modules directory
*/node_modules

# Ignore the package-lock.json file
*/package-lock.json

# Ignore the cache directory
/eip3643-network/cache

